<script src="../Scripts/js/jquery.carouFredSel-6.2.0-packed.js"></script>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
            <a class="navbar-brand" href="#/">HOME</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="#/services">Inicio</a>
                </li>-->
                <li><a href="#/pricing">Busqueda</a>
                </li>
                <li><a href="#/about">Sobre nosotros</a>
                </li>
                <li><a href="#/faq">Preguntas</a>
                </li>
                <li><a href="#/contact">Contacto</a>
                </li>
                <!--<li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/blog">List of Posts</a>
                        </li>
                        <li><a href="#/blog/post">View One Post</a>
                        </li>
                    </ul>
                </li>
            </ul>-->
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
    <script type="text/javascript">
        $(function () {
            $('#carousel').carouFredSel({
                responsive: true,
                items: {
                    visible: 1,
                    width: 900,
                    height: 500
                },
                scroll: {
                    duration: 250,
                    timeoutDuration: 2500,
                    fx: 'uncover-fade'
                },
                pagination: '#pager'
            });
        });
    </script>
    <style type="text/css">
        html, body {
            height: 100%;
            padding: 0;
            margin: 0;
        }

        body {
            background: #fff;
            min-height: 600px;
        }

            body * {
                font-family: Arial, Geneva, SunSans-Regular, sans-serif;
                font-size: 14px;
                color: #666;
                line-height: 22px;
            }

        #wrapper {
            width: 100%;
            min-width: 900px;
            height: 500px;
            margin: -250px 0 0 0;
            position: absolute;
            top: 50%;
            left: 0;
        }

        #carousel div {
            height: 500px;
            float: left;
        }

        #carousel img {
            min-width: 100%;
            min-height: 100%;
        }

        #title {
            text-align: center;
            width: 100%;
            margin-top: -10px;
            position: absolute;
            top: 50%;
        }

            #title h3 {
                text-shadow: 0 3px 3px rgba( 0, 0, 0, 0.3 ), 0 -3px 3px rgba( 0, 0, 0, 0.3 ), 3px 0 3px rgba( 0, 0, 0, 0.3 ), -3px 0 3px rgba( 0, 0, 0, 0.3 );
                font-size: 50px;
                font-weight: bold;
                line-height: 50px;
                color: #fff;
                margin: 0;
            }

            #title a {
                color: #fff;
            }

                #title a:hover {
                    background: rgba( 0, 0, 0, 0.5 );
                    padding: 2px 5px;
                }

        #pager {
            border-radius: 20px;
            background: #fff;
            text-align: center;
            width: 120px;
            height: 50px;
            padding-top: 2px;
            margin: 235px 0 0 -60px;
            position: absolute;
            top: 50%;
            left: 50%;
        }

            #pager a.selected span {
                background: #666;
            }

            #pager a {
                display: inline-block;
                padding: 5px;
            }

            #pager span {
                border-radius: 10px;
                background: #ccc;
                text-indent: -100px;
                line-height: 0;
                display: inline-block;
                width: 10px;
                height: 10px;
                overflow: hidden;
            }

        #donate-spacer {
            height: 100%;
        }

        #donate {
            border-top: 1px solid #999;
            width: 750px;
            padding: 50px 75px;
            margin: 0 auto;
            overflow: hidden;
        }

            #donate p, #donate form {
                margin: 0;
                float: left;
            }

            #donate p {
                width: 650px;
                color: #999;
            }

            #donate form {
                width: 100px;
            }
    </style>


            <div id="carousel">
                <div><img src="img/snow1.jpg" /></div>
                <div><img src="img/snow2.jpg" /></div>
                <div><img src="img/snow3.jpg" /></div>
                <div><img src="img/snow4.jpg" /></div>
            </div>
            <div id="title">
                <h3>The Netherlands covered in snow</h3>
                <p><a href="http://gigapica.geenstijl.nl/2013/01/the_netherlands_covered_in_sno.html">images from gigapica.geenstijl.nl</a></p>
            </div>
            <div id="pager"></div>
</nav>
